NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
RESEND_FROM_EMAIL="Sonicite <hello@sonicite.ai>"
RESEND_REPLY_TO_EMAIL=hello@sonicite.ai
RESEND_WELCOME_TEMPLATE_ID=welcome-email
